server/myfiles/xsd/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LogUtilizzoInterfacciaXML">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="evento" type="xs:string"/>
				<xs:element name="data" type="xs:dateTime"/>
			</xs:sequence>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>